$primary: #0984e3;
$primary-light: #1895f6;
$primary-dark: #0871c2;

$primary-bg: #ebf5fd;

$focus: #f0932b;

$light: #ffffff;

$gray-1: #f6f8fa;
$gray-2: #dee5eb;
$gray-3: #c9cfd4;
$gray-4: #a4acb4;
$gray-5: #7a838d;
$gray-6: #5c636b;
$gray-7: #485057;

$dark: #0c1925;


$danger: #e43b10;