$primary: #0984e3;
$primary-light: #1895f6;
$primary-dark: #0871c2;

$focus: #f0932b;

$light: #fbfcfd;
$gray-1: #d6e0e9;
$gray-2: #aec2d3;
$gray-3: #778fa3;
$gray-4: #4e6374;
$gray-5: #394c5c;
$gray-6: #233544;
$dark: #0b1722;
